{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <h1>Login</h1>                                              
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <img src="{{ url_for('static', filename='images/login-image.png') }}" class="img-fluid" alt="Login Image">
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 my-form">                                   
                {{ wtf.quick_form(form) }}
                <p>
                    Forgot your Password? <span><a href="{{ url_for('reset_password_request') }}">Reset Here</a></span>.
                </p>
                <p>
                    New here? <span><a href="{{ url_for('register') }}">Register Here!</a></span>.
                </p>
                <p>
                    Didn't get a verification email? <span><a href="{{ url_for('resend_verification_request') }}">Resend it</a></span>.
                </p>
                <p>
                    You can use Microsoft Authenticator, Google Authenticator, or other similar apps to get an access token as you registered.
                </p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">                
                           
            </div>
        </div>

{% endblock %}
